

nav {
    background: #333333;
    
}
nav a{
    color: white;
}

body{
    background-color: gray;
}

h1{
    text-align:center;
    color: white;
}

label{
    color: white;
}
.form-group{
    display:flex;
    flex-direction: column;
}
body{
    background-color: #333333 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    width: 100%;
}

.alert-info{
    background-color: #666666 !important;
    border-color: white !important;
    color: white !important;
}

.info{
    width: 100%;
}

ul{
    list-style-type: none;
}
